
<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>主题: <%= @mail.subject %></h1>
<p>发送邮箱：<%= @mail.sender %></p>
<p>接收邮箱：<%= @mail.receiver %></p>
<p>邮件内容：</p>
<p><%= @mail.body %></p>

</body>
</html>